

.divcolor {
    position: relative;
    background-color: black;
    margin: 5%;
    height: 380px;
    width: 96%;
}

.colorpicture1 {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0%;
    bottom: 0%;
    right: 5%;
    
}

nav{
    direction:rtl
}
.colorpicture2 {
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0%;
    bottom: 0%;
    left: 5%;
}

h3>p {
    padding: 8px;
    align-content: space-around;
    vertical-align: middle;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
    color: black;
}

.colorInformation {
   
    background-color: white;
    text-align: center;
    align-content: space-around;
    vertical-align: middle;
    margin-bottom: 1%;
    
    height: 95%;
    margin: 1%;
}

h3 {
    color: #e0c083ff;
}

.colordiv1 {
    /*  align-content: space-around;*/
    background-color: transparent;
    height: 50%;
    width: 40%;
    position: absolute;
    z-index: 5;
    left: 5%;
    top: 25%;
    bottom: 25%;
    background-position: center center;
    border: solid 3px white;
}

.colordiv2 {
    /* align-content: space-around;*/
    background-color: transparent;
    height: 50%;
    width: 40%;
    position: absolute;
    z-index: 5;
    right: 5%;
    top: 25%;
    bottom: 25%;
    background-position: center center;
    border: solid 3px white;
}



/*contact page*/

.flex-Details {
    display: flex;
    height: 300px;
    align-content: space-between;
    background-color: black;
    flex-direction: row-reverse;
    width: 90%;
    margin-left: 5%;
}



.details {
    padding: 15px;
    text-align: center;
    font: bold 14px #e0c083ff;
    margin-bottom: 25%;
}

.detailssec {
    background-color: white;
    width: 18%;
    border-bottom: solid 5px #e0c083ff;
    margin: 10px;
    padding: 10px;
    /* font-size: 15px;*/
    text-align: center;
    box-shadow:;
}

.detailimg {
    height: 40px;
    width: 40px;
    margin-top: 25%;
    
}
